<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.instructure.student">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Needed for Conferences (web audio capture) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="com.instructure.candroid" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:replace="required" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:replace="required" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <queries>
        <package android:name="us.zoom.videomeetings" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".util.AppManager"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/student_app_name"
        android:largeHeap="true"
        android:logo="@drawable/canvas_logo_white"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/CanvasMaterialTheme_Default"
        tools:overrideLibrary="com.instructure.canvasapi"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.instructure.pandautils.features.documentscanning.DocumentScanningActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <!-- Fun fact. LoginActivity is called that because activity-alias are not supported by pspdfkit, should be InitLoginActivity -->
        <activity
            android:name=".activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/student_app_name"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.Splash_Student"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginLandingPageActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />
        <activity
            android:name=".activity.FindSchoolActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />
        <activity
            android:name=".activity.SignInActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />
        <activity
            android:name=".activity.NavigationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/canvas"
            android:launchMode="singleTask"
            android:theme="@style/CanvasMaterialTheme_Default"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.instructure.student.ROUTING_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CandroidPSPDFActivity"
            android:theme="@style/PSPDFKitTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.NotificationPreferencesActivity"
            android:label="@string/notifications"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name=".activity.PandaAvatarActivity"
            android:label="@string/pandaAvatar"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name=".activity.InternalWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name=".activity.ViewMediaActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/student_app_name"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name=".activity.InterwebsToApplication"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/student_app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent.NoAnimationOrBackground">
            <intent-filter>
                <data
                    android:host="*.instructure.com"
                    android:scheme="https" />
                <data
                    android:host="*.instructure.com"
                    android:scheme="http" />
                <data
                    android:host="*.canvas.net"
                    android:scheme="https" />
                <data
                    android:host="*.canvas.net"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="*"
                    android:scheme="canvas-courses" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="*"
                    android:scheme="canvas-student" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sso.canvaslms.com"
                    android:pathPattern="/canvas/login"
                    android:scheme="https" />
                <data
                    android:host="sso.test.canvaslms.com"
                    android:pathPattern="/canvas/login"
                    android:scheme="https" />
                <data
                    android:host="sso.beta.canvaslms.com"
                    android:pathPattern="/canvas/login"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShareFileUploadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/canvas"
            android:theme="@style/CanvasMaterialTheme_Default.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".mobius.common.ui.SubmissionService"
            android:exported="false" /> <!-- Widget Items -->
        <activity
            android:name=".activity.NotificationWidgetRouter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activity.WidgetSetupActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BookmarkShortcutActivity"
            android:icon="@drawable/ic_bookmark_shortcut"
            android:label="@string/student_app_name"
            android:theme="@style/CanvasMaterialTheme_DefaultNoTransparency">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StudentLoginWithQRActivity" />
        <activity
            android:name=".activity.StudentViewStarterActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.instructure.student.STUDENT_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.instructure.pandautils.services.NotoriousUploadService"
            android:exported="false" />
        <service
            android:name=".util.FileDownloadJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".receivers.InitializeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver> <!-- Push Notifications -->
        <service
            android:name=".receivers.StudentPushExternalReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- To do widget -->
        <receiver
            android:name=".widget.TodoWidgetProvider"
            android:label="@string/todoWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_info" />
        </receiver>

        <service
            android:name=".widget.TodoViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- Grades Widget -->
        <receiver
            android:name=".widget.GradesWidgetProvider"
            android:label="@string/gradesWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grades_widget_info" />
        </receiver>

        <service
            android:name=".widget.GradesViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- Notifications widget -->
        <receiver
            android:name=".widget.NotificationWidgetProvider"
            android:label="@string/notificationWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notification_widget_info" />
        </receiver>

        <service
            android:name=".widget.NotificationViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.StudentPageViewService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- End of Widget Items -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>