<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 - present Instructure, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emeritus.student">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:replace="android:maxSdkVersion"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Needed for Conferences (web audio capture) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />


    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="com.emeritus.candroid" />

    <uses-feature android:name="android.hardware.camera" android:required="false" tools:replace="required"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" tools:replace="required"/>

    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.emeritus.student.util.AppManager"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/student_app_name"
        android:largeHeap="true"
        android:logo="@drawable/canvas_logo_white"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/CanvasMaterialTheme_Default"
        tools:overrideLibrary="com.instructure.canvasapi"
        tools:replace="android:supportsRtl">

        <!--Fun fact. LoginActivity is called that because activity-alias are not supported by pspdfkit, should be InitLoginActivity-->
        <activity
            android:name="com.emeritus.student.activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/student_app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emeritus.student.activity.LoginLandingPageActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name="com.emeritus.student.activity.FindSchoolActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name="com.emeritus.student.activity.SignInActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name="com.emeritus.student.activity.NavigationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/canvas"
            android:launchMode="singleTask"
            android:theme="@style/CanvasMaterialTheme_Default"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.emeritus.student.activity.CandroidPSPDFActivity"
            android:theme="@style/PSPDFKitTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.emeritus.student.activity.SettingsActivity"
            android:theme="@style/CanvasMaterialTheme_Default" />

        <activity
            android:name="com.emeritus.student.activity.PandaAvatarActivity"
            android:label="@string/pandaAvatar"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name="com.emeritus.student.activity.InternalWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CanvasMaterialTheme_Default" />

        <activity
            android:name="com.emeritus.student.activity.ViewMediaActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.emeritus.student.activity.VideoViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/student_app_name"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <activity
            android:name="com.emeritus.student.activity.InterwebsToApplication"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/student_app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent.NoAnimationOrBackground"
            >
            <intent-filter  android:autoVerify="true">
                <data
                    android:host="*.instructure.com"
                    android:scheme="https"/>
                <data
                    android:host="*.instructure.com"
                    android:scheme="http"/>
                <data
                    android:host="*.canvas.net"
                    android:scheme="https"/>
                <data
                    android:host="*.canvas.net"
                    android:scheme="http"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="*"
                    android:scheme="canvas-courses"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="*"
                    android:scheme="canvas-student"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="sso.canvaslms.com"
                    android:pathPattern="/canvas/login" />

                <data
                    android:scheme="https"
                    android:host="sso.test.canvaslms.com"
                    android:pathPattern="/canvas/login" />

                <data
                    android:scheme="https"
                    android:host="sso.beta.canvaslms.com"
                    android:pathPattern="/canvas/login" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emeritus.student.features.shareextension.StudentShareExtensionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/CanvasMaterialTheme_Default.Translucent"
            android:label="@string/canvas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="audio/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="application/*"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.emeritus.student.mobius.common.ui.SubmissionService"
            android:exported="false" />

        <!-- Widget Items -->
        <activity
            android:name="com.emeritus.student.activity.NotificationWidgetRouter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.emeritus.student.activity.WidgetSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emeritus.student.activity.BookmarkShortcutActivity"
            android:icon="@drawable/ic_bookmark_shortcut"
            android:label="@string/student_app_name"
            android:theme="@style/CanvasMaterialTheme_DefaultNoTransparency"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.emeritus.student.activity.StudentLoginWithQRActivity" />

        <activity
            android:name="com.emeritus.student.activity.StudentViewStarterActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.instructure.student.STUDENT_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emeritus.student.features.documentscanning.DocumentScanningActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CanvasMaterialTheme_Default" />

        <service
            android:name="com.instructure.pandautils.services.NotoriousUploadService"
            android:exported="false" />

        <service
            android:name="com.emeritus.student.util.FileDownloadJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.emeritus.student.receivers.InitializeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!--Push Notifications-->

        <service
            android:name="com.emeritus.student.receivers.StudentPushExternalReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--Reminder-->
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:exported="false" />

        <!-- To do widget -->
        <receiver
            android:name="com.emeritus.student.widget.TodoWidgetProvider"
            android:exported="false"
            android:label="@string/todoWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_info" />
        </receiver>

        <service
            android:name="com.emeritus.student.widget.TodoViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Grades Widget -->
        <receiver
            android:name="com.emeritus.student.widget.GradesWidgetProvider"
            android:exported="false"
            android:label="@string/gradesWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grades_widget_info"/>
        </receiver>

        <service
            android:name="com.emeritus.student.widget.GradesViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Notifications widget-->
        <receiver
            android:name="com.emeritus.student.widget.NotificationWidgetProvider"
            android:exported="false"
            android:label="@string/notificationWidgetTitleLong">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notification_widget_info"/>
        </receiver>

        <service
            android:name="com.emeritus.student.widget.NotificationViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="com.emeritus.student.service.StudentPageViewService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- End of Widget Items -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

    </application>

    <queries>
        <package android:name="us.zoom.videomeetings" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>
