# OS X
.DS_Store

# Private data
android-private-data/
**/PrivateConst.kt
private-data/

# Release keys
android-keys/

# Fastlane
fastlane/report.xml
fastlane_logcat.txt
fastlane_video.mp4
fastlane_instrument.txt

# Bitrise
.bitrise*
bitrise.yml
gcloud.log

# Gradle
.gradle/
.idea

# Open source
android-uno-public

# Temporary translations
translations/tmp
translations/.idea/
mkmf.log

# Auto generated code
parent/app/src/androidTest/java/com/instructure/parentapp/ui/utils/espresso_secrets/
parent/app/src/androidTest/java/com/instructure/parentapp/ui/data/
dataseedingapi/out/
local.properties
libs/canvas-api-2/target/pacts/
apps/true/

# IntelliJ
*.iml

# Rubymine
fastlane/.idea

apps/captures

libs/DocumentScanner/build/
