<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2024 - present Instructure, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- End of Features -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion" />
    <!-- End of Permissions -->

    <application
        android:name=".util.AppManager"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/CanvasMaterialTheme_Default"
        tools:overrideLibrary="com.instructure.canvasapi">

        <activity android:name="sdk.pendo.io.activities.PendoGateActivity" android:launchMode="singleInstance" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="pendo-94903f5a"/>
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity
            android:name=".features.login.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/LoginFlowTheme.Splash_Parent"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.login.LoginLandingPageActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".features.login.FindSchoolActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".features.login.SignInActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".features.login.ParentLoginWithQRActivity"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".features.login.createaccount.CreateAccountActivity"
            android:theme="@style/LoginFlowTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".features.login.routevalidator.RouteValidatorActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/LoginFlowTheme.Splash_Parent">
            <intent-filter android:autoVerify="true">
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="*.instructure.com" />
                <data android:host="*.canvas.net" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:host="*" />
                <data android:scheme="canvas-courses" />
                <data android:scheme="canvas-parent" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="sso.canvaslms.com" />
                <data android:pathPattern="/canvas/login" />

                <data android:scheme="https" />
                <data android:host="sso.test.canvaslms.com" />
                <data android:pathPattern="/canvas/login" />

                <data android:scheme="https" />
                <data android:host="sso.beta.canvaslms.com" />
                <data android:pathPattern="/canvas/login" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:label="@string/canvas"
            android:launchMode="singleTask"
            android:theme="@style/CanvasMaterialTheme_Default" />

        <activity
            android:name=".features.webview.HtmlContentActivity"
            android:theme="@style/CanvasMaterialTheme_Default" />
        <!-- End of Activities -->

        <!-- Services -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <!-- End of Services -->

        <!-- Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
        <!-- End of Providers -->

        <!--Reminder-->
        <receiver
            android:name="com.instructure.pandautils.receivers.alarm.AlarmReceiver"
            android:exported="false" />

        <receiver android:name=".receivers.InitializeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>
