<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 - present  Instructure, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.instructure.parentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" tools:replace="required"/>

    <application
        android:name=".util.ApplicationManager"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_parent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="icon, label">

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/LoginFlowTheme.Splash_Parent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/LoginFlowTheme.Splash_Parent" />

        <activity
            android:name=".activity.LoginLandingPageActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".activity.FindSchoolActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".activity.SignInActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginFlowTheme.NoActionBar" />

        <activity
            android:name=".activity.NavigationActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar.NavigationActivity" />

        <activity
            android:name=".activity.DetailViewActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/manageChildren"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.InternalWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.StudentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.BaseParentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.RouteValidatorActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:scheme="canvas-courses" />
                <data android:scheme="canvas-parent" />
                <data android:host="*.instructure.com" />
                <data android:host="*.aylearn.net" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.AlarmReceiver" />

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
    </application>

</manifest>
