<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 - present  Instructure, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.instructure.androidpolling.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CanvasPollingTheme"
        android:name=".util.ApplicationManager"
        tools:overrideLibrary="com.instructure.loginapi.login">

        <activity
            android:name=".activities.InitLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginFlowTheme.Splash_Polls"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginLandingPageActivity"
            android:theme="@style/LoginFlowTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".activities.FindSchoolActivity"
            android:theme="@style/LoginFlowTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".activities.SignInActivity"
            android:theme="@style/LoginFlowTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activities.PollListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/polls"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.FragmentManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label=""
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PublishPollActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/publishPoll"/>

        <activity
            android:name=".activities.StudentPollActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label=""/>

        <activity
            android:name=".activities.StartingActivity"
            android:screenOrientation="portrait"
            android:label=""/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="${crashlyticsApiKey}"/>

    </application>

</manifest>
