<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 - present  Instructure, Inc.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
     tests break if maxSdkVersion is used when requesting WRITE_EXTERNAL_STORAGE

     use 'tools:remove' from a product flavor AndroidManifest.xml (for merge priority)
     then verify 'maxSdkVersion' isn't displayed in the merged manifest.

     https://developer.android.com/guide/topics/manifest/uses-permission-element.html
     https://developer.android.com/studio/build/manifest-merge.html
     -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion"/>

    <application tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SingleFragmentTestActivity" />

    </application>

</manifest>
